@media screen and (max-width: 1366px) {

    .btn-up {
        right: 0.5%;
        bottom: 1%;
        height: 40px;
        width: 40px;
    }

    .btn-up span {
        display: none;
    }

    .btn-up::before {
        width: 10px;
        height: 10px;
        border-top: 2px solid var(--white-color);
        border-right: 2px solid var(--white-color);
    }

    .faq__img5 {
        margin-right: 0;
        width: 552px;
    }

    .faq__img6 {
        margin-left: 0;
        width: 552px;
    }

    .zoom5-6 {
        overflow: hidden;
    }

    .zoom5-6 img {
        transition: 0.3s;
    }

    .zoom5-6:hover img {
        transform: scale(1.1);
    }

}

@media screen and (max-width: 1280px) {

    .container {
        max-width: 984px;
    }

    .zoom,
    .zoom5-6,
    .faq__img1,
    .faq__img2,
    .faq__img3,
    .faq__img4,
    .faq__img5,
    .faq__img6 {
        width: 480px;
    }

    .faq__content {
        grid-column-gap: 24px;
    }

}

@media screen and (max-width: 1024px) {

    .container {
        max-width: 732px;
    }

    .zoom,
    .zoom5-6,
    .faq__img1,
    .faq__img2,
    .faq__img3,
    .faq__img4,
    .faq__img5,
    .faq__img6 {
        width: 100%;
        margin-bottom: 12px;
    }

    .faq__content {
        grid-template-columns: 1fr;
    }

    .faq--color_orange {
        display: none;
    }

    .faq__desc {
        row-gap: 24px;
        margin-bottom: 24px;
    }

    .faq {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {

    .btn-up {
        right: 2%;
        bottom: 1%;
    }

    .container {
        max-width: 396px;
    }

    h1 {
        margin-left: 24px;
        margin-right: 24px;
    }

    img,
    .zoom,
    .zoom img,
    .zoom5-6,
    .zoom:hover img,
    .faq__img1,
    .faq__img2,
    .faq__img3,
    .faq__img4,
    .faq__img5,
    .faq__img6 {
        display: none;
    }

    .faq__desc {
        background: none;
        row-gap: 36px;
        margin-bottom: 36px;
    }

}

@media screen and (max-width: 414px) {

    .container {
        max-width: 372px;
    }

}

@media screen and (max-width: 375px) {

    .container {
        max-width: 312px;
    }

}