/* fonts */
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

/* variables */
:root {
    --title-mb: 72px;
    --section-mb: 108px;
    --content-mb: 72px;
    --col-gap: 36px;
    --row-gap: 60px;

    --text-color: #232323;
    --blue-color: #044971;
    --orange-color: #ff7313;
    --white-color: #ffffff;

    --font-basic: 'Roboto', sans-serif;
    --font-heading: 'Roboto Slab', serif;

    /* bold */
    --font-weight-700: 700;
    /* semibold */
    --font-weight-600: 600;
    /* medium */
    --font-weight-500: 500;
    /* regular */
    --font-weight-400: 400;
    /* light */
    --font-weight-300: 300;

    --font-size-42: 42px;
    --font-size-32: 32px;
    --font-size-22: 22px;
    --font-size-18: 18px;
    --font-size-16: 16px;

    /* line-height: 130% or 23px */
    --line-height-130: 130%;
}



/* main */

/* дефолтные стили для страницы */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
}

/* общий переиспользуемый div-контейнер */
.container {
    margin: auto;
    width: 1140px;
    /* overflow: hidden; */
}

/* utility-first */
.flex {
    display: flex;
}

/* .grid {
    display: grid;
} */

/* etc. */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

h1,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

/* faq__main-title */
h1 {
    margin-top: var(--section-mb);
    margin-bottom: var(--title-mb);
    font-family: var(--font-heading);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-42);
    line-height: var(--line-height-130);
}

/* faq__title */
h4 {
    padding: 24px 24px 24px 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-18);
    line-height: var(--line-height-130);
    color: var(--white-color);
    background-color: var(--blue-color);
}

/* section */
.faq {
    margin-bottom: var(--content-mb);
}

/* section, for orange background */
.faq--mb {
    margin-bottom: 36px;
}

/* section, orange background */
.faq--color_orange {
    background: var(--orange-color);
    padding: 36px 0;
    margin-bottom: 36px;
}

/* div faq__desc + img */
.faq__content {
    column-gap: var(--col-gap);
}

/* div с блоками вопросов 2-3 */
.faq__desc {
    flex-direction: column;
    justify-content: space-between;
    /* row-gap: 48px; */
}

/* div - блоки вопросов */
.faq__question {
    background-color: #ffffff;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    width: 552px;
    box-shadow: 0 14px 28px rgba(4, 73, 113, 0.25), 0 10px 10px rgba(4, 73, 113, 0.22);
    padding-bottom: 24px;
}

/* hover блоков вопросов */
.faq__question::after {
    content: '';
    border-bottom: 3px solid var(--blue-color);
    width: 0;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
}

.faq__question:hover {
    color: var(--blue-color);
    transform: scale(1.1);
    cursor: default;
}

.faq__question:hover::after {
    width: 100%;
}

/* p */
.faq__main-text {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: var(--line-height-130);
    color: var(--text-color);
}

/* p - второй параграф */
.faq__second-p {
    margin-top: 12px;
    padding-right: 24px;
    padding-left: 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: var(--line-height-130);
    color: var(--text-color);
}

/* ul */
.faq__list {
    padding-top: 12px;
    padding-left: 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: var(--line-height-130);
    color: var(--text-color);
    list-style: none;
}

/* ul li */
.faq__item {}

.faq__item--marker_ndash::before {
    content: '\2013';
    margin-right: 1ex;
}

.faq__list {
    counter-reset: num 0;
}

.faq__item--marker_num::before {
    counter-increment: num;
    content: counter(num) ". ";
}

/* стиль текста - подчеркнутый */
.text-underline {
    border-bottom: 1px solid var(--text-color);
}

/* img */
.zoom {
    overflow: hidden;
    cursor: default;
}

.zoom img {
    transition: 0.3s;
}

/* hover картинок */
.zoom:hover img {
    transform: scale(1.2);
}

.faq__img1 {
    width: 552px;
    height: 624px;
    object-fit: cover;
}

.faq__img2 {
    width: 552px;
    height: 492px;
    object-fit: cover;
}

.faq__img3 {
    width: 552px;
    height: 642px;
    object-fit: cover;
}

.faq__img4 {
    width: 552px;
    height: 558px;
    object-fit: cover;
}

.faq__img5 {
    margin-right: -390px;
    width: 942px;
    height: 558px;
    object-fit: cover;
}

.faq__img6 {
    margin-left: -390px;
    width: 942px;
    height: 558px;
    object-fit: cover;
}

/* span - телефон */
.faq__main-text span {
    font-weight: var(--font-weight-400);
}

/* a */
.request-link {
    font-weight: var(--font-weight-400);
    color: var(--orange-color);
    text-decoration: none;
}

/* a:hover */
.request-link:hover {
    color: var(--blue-color);
}



/* faq /section
container /div
faq__main-title /h1
faq__content flex /div
faq__desc flex /div
faq__question /div
faq__title /h4
faq__main-text /p
faq__list /ul
faq__item /li
faq__img /img
faq__second-p /p