@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* variables */
:root {
    --title-mb: 72px;
    --section-mb: 108px;
    --content-mb: 72px;
    --col-gap: 36px;
    --row-gap: 60px;

    /* 4
    8
    16
    24
    32
    40
    48

    6
    12
    24
    36
    48
    60
    72
    108 */

    --text-color: #232323;
    --blue-color: #044971;
    --orange-color: #ff7313;
    --white-color: #ffffff;

    /* +font-fallback */
    --font-basic: 'Roboto', sans-serif, 'Arial';
    --font-heading: 'Roboto Slab', serif, 'Arial';

    /* bold */
    --font-weight-700: 700;
    /* semibold */
    --font-weight-600: 600;
    /* medium */
    --font-weight-500: 500;
    /* regular */
    --font-weight-400: 400;
    /* light */
    --font-weight-300: 300;

    --font-size-42: 42px;
    --font-size-32: 32px;
    --font-size-22: 22px;
    --font-size-18: 18px;
    --font-size-16: 16px;

    /* line-height: 130% */
    --line-height-130: 130%;
}



/* main */

/* дефолтные стили для страницы */
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
}

/* общий переиспользуемый div-контейнер */
.container {
    margin: auto;
    max-width: 1140px;
}

/* utility-first */
.flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
}

/* etc. */
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

/* faq__main-title */
h1 {
    margin-top: 332px;
    margin-bottom: var(--title-mb);
    font-family: var(--font-heading);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-42);
    line-height: var(--line-height-130);
}

/* faq__title */
h2 {
    padding: 24px 24px 24px 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-18);
    line-height: var(--line-height-130);
    color: var(--white-color);
    background: linear-gradient(90deg, rgba(4, 73, 113, 1) 0%, rgba(4, 73, 113, 0.8) 100%);
}

img {
    display: block;
}

/* стили текста - выделенный, подчеркнутый, жирный (телефон) */
mark {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.text-underline {
    border-bottom: 1px solid var(--text-color);
}

/* span - телефон */
.phone {
    font-weight: var(--font-weight-400);
}

/* кнопкa Вверх */
.btn-up {
    position: fixed;
    right: 0.5%;
    bottom: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 85px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: var(--line-height-130);
    color: var(--white-color);
    background: rgba(4, 73, 113, 0.7);
    text-decoration: none;
    border-radius: 50%;
    cursor: default;
    z-index: 999;
}

.btn-up::before {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 3px solid var(--white-color);
    border-right: 3px solid var(--white-color);
    transform: rotate(-45deg);
}

.btn-up:hover {
    background: var(--blue-color);
}

/* кнопка Оставить заявку */
.primary-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: var(--text-size-16);
    font-weight: var(--font-weight-600);
    color: var(--white-color);
    text-decoration: none;
}

.primary-btn--orange {
    background-color: var(--orange-color);
}

/*header*/
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__top-part {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.logo {
    width: 382px;
    height: 84px;
}

.logo-link {
    height: 84px;
}

.main-menu__list {
    column-gap: 96px;
    list-style: none;
}

.main-menu__list a {
    color: black;
    text-decoration: none;
}

.main-menu__list--text {
    font-size: var(--text-size-18);
    line-height: var(--line-height-130);
}

.header__bot-part {
    padding-top: 16px;
    padding-bottom: 22px;
    background-color: var(--white-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    transition: 0.3s ease;
}

.header-bot-part__text {
    font-size: var(--text-size-18);
}

.header-bot-part__number {
    font-weight: var(--font-weight-500);
}

.header__worktime {
    column-gap: 24px;
}

.scrolled .header__bot-part {
    opacity: 0;
    transform: translateY(-200%);
    transition: 0.3s ease;
}

.scrolled .header__top-part {
    background-color: var(--white-color);
    border-bottom: 1px solid #044971;
    box-shadow: 0px 0px 8px #000000;
    transition: 0.3s ease;

}

/* section */
.faq {
    margin: 72px 0;
}

/* section, orange background */
.faq--color_orange {
    margin: -36px 0;
    padding: 36px 0;
    background: var(--orange-color);
}

/* div faq__desc + img */
.faq__content {
    grid-column-gap: var(--col-gap);
    grid-template-columns: repeat(2, 1fr);
}

/* div с блоками вопросов 2-3 */
.faq__desc {
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(rgba(4, 73, 113, 1) 0%, rgba(4, 73, 113, 1) 100%)no-repeat center/2px 100%;
    animation: show 2s;
}

/* div - блоки вопросов */
.faq__question {
    position: relative;
    padding-bottom: 24px;
    background-color: #ffffff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    box-shadow: 0 14px 28px rgba(4, 73, 113, 0.25), 0 10px 10px rgba(4, 73, 113, 0.22);
}

/* hover блоков вопросов */
.faq__question::after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: -3px;
    border-bottom: 3px solid var(--blue-color);
    transition: width 0.3s ease;
}

.faq__question:hover {
    color: var(--blue-color);
    transform: scale(1.05);
    cursor: default;
}

.faq__question:hover::after {
    width: 100%;
}

/* p */
.faq__main-text {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: var(--line-height-130);
    color: var(--text-color);
}

/* p - второй параграф */
.faq__second-p {
    margin-top: 12px;
    padding-right: 24px;
    padding-left: 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: var(--line-height-130);
    color: var(--text-color);
}

/* ul */
.faq__list {
    padding-top: 12px;
    padding-left: 24px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: var(--line-height-130);
    color: var(--text-color);
    list-style: none;
}

/* ul li */
.faq__item {}

.faq__item--marker_ndash::before {
    content: '\2013';
    margin-right: 1ex;
}

.faq__list {
    counter-reset: num 0;
}

.faq__item--marker_num::before {
    counter-increment: num;
    content: counter(num) ". ";
}

/* img */
.zoom {
    overflow: hidden;
    cursor: default;
}

.zoom img {
    transition: 0.3s;
}

.zoom5-6 {
    cursor: default;
}

/* hover картинок */
.zoom:hover img {
    transform: scale(1.1);
}

.faq__img1 {
    width: 552px;
    height: 624px;
    object-fit: cover;
}

.faq__img2 {
    width: 552px;
    height: 492px;
    object-fit: cover;
}

.faq__img3 {
    width: 552px;
    height: 642px;
    object-fit: cover;
}

.faq__img4 {
    width: 552px;
    height: 558px;
    object-fit: cover;
}

.faq__img5 {
    margin-right: -390px;
    width: 942px;
    height: 558px;
    object-fit: cover;
}

.faq__img6 {
    margin-left: -390px;
    width: 942px;
    height: 558px;
    object-fit: cover;
}

/* a */
.request-link {
    font-weight: var(--font-weight-400);
    color: var(--orange-color);
    text-decoration: none;
}

/* a:hover */
.request-link:hover {
    color: var(--blue-color);
}

/* footer */
.footer {
    padding-top: 36px;
}

.footer__wrapper {
    background-color: rgba(42, 47, 55, 0.75);
}

.footer__top-part {
    padding-top: 34px;
}

.footer__bot-part {
    padding-top: 12px;
    padding-bottom: 65px;
}

.main-menu__list--footer-text a {
    color: var(--white-color);
    font-size: var(--text-size-18);
    line-height: var(--line-height-130);
}

.footer-bot-part__text {
    margin: 0;
    font-weight: var(--font-weight-300);
    font-size: var(--text-size-16);
    color: var(--white-color);
}

.footer-bot-part__link {
    font-weight: var(--font-weight-300);
    font-size: var(--text-size-16);
    color: var(--orange-color);
    text-decoration: none;
}

.footer-bot-part__number {
    margin: 0;
    font-weight: var(--font-weight-500);
    font-size: var(--text-size-18);
    color: var(--white-color);
}

.footer__icons {
    display: flex;
    gap: 156px;
}