/* variables */
:root {
    --orange-color: #FF7313;
    --blue-color: #044971;
    --white-color: #FFFFFF;
    --text-color: #232323;

    --font-size-42: 42px;
    --font-size-32: 32px;
    --font-size-22: 22px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;

    --font-basic: 'Roboto', sans-serif;
    --font-heading: 'Roboto Slab', serif;

    --m108: 108px;
    --m96: 96px;
    --m36: 36px;
    --m24: 24px;
    --m12: 12px;
}


/*   common    */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-basic);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-flex-full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-btn {
    padding: 16px 39px;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-16);
    line-height: 130%;
    color: var(--white-color);
    text-decoration: none;
}

.primary-btn--orange {
    background-color: var(--orange-color);
}

.primary-btn--orange:hover {
    background-color: var(--blue-color);
    transition: 0.3s ease;
}

.phone {
    font-weight: var(--font-weight-500);
}

/*header*/
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__top-part {
    padding: var(--m12) 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.logo-link {
    height: 84px;
}

.main-menu__list {
    column-gap: var(--m96);
    font-family: var(--font-basic);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18);
    line-height: 130%;
    list-style: none;
}

.main-menu__list a {
    color: var(--text-color);
    text-decoration: none;
}

.main-menu__list a:hover {
    transition: 0.3s ease;
    color: var(--orange-color);
}

.header__bot-part {
    padding: 18px 0;
    background-color: var(--white-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    transition: 0.3s ease;
}

.header-bot-part__text {
    margin: 0;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18);
    line-height: 130%;
    color: var(--text-color);
}

.header__worktime {
    column-gap: var(--m24);
}

.scrolled .header__bot-part {
    opacity: 0;
    transform: translateY(-200%);
    transition: 0.3s ease;
}

.scrolled .header__top-part {
    background-color: var(--white-color);
    border-bottom: 1px solid #044971;
    box-shadow: 0px 0px 8px #000000;
    transition: 0.3s ease;
}

/* main-banner */

.main-banner {
    padding-top: 216px;
}

.main-banner__wrapper {
    background-image: url(../images/main-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-banner__height {
    height: 695px;
}

.main-banner--text {
    color: var(--white-color);
    font-family: var(--font-heading);
}

.main-banner__title {
    font-size: var(--font-size-42);
    font-weight: var(--font-weight-700);
    padding-top: var(--m108);
    line-height: 130%;
    margin: 0;
}

.main-banner__place {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-500);
    padding-top: 24px;
    line-height: 130%;
    margin: 0;
}

.main-banner__slogan {
    float: right;
    padding-top: 332px;
    font-size: 54px;
    font-weight: var(--font-weight-600);
    letter-spacing: 0.03em;
    line-height: 130%;
    margin: 0;
}

/* advantages */

.advantages__title {
    margin: 0;
    text-align: center;
    padding-top: var(--m108);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-600);
    font-family: var(--font-heading);
}

.advantages-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--m36);
    padding-top: var(--m108);
    z-index: -1;
}

.advantages__pic {
    display: block;
}

.advantages-grid__bot-block {
    height: 60px;
    background-color: var(--orange-color);
    position: relative;
}

.advantages-grid__text {
    margin: 0;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-300);
    line-height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.advantages-grid__item {
    position: relative;
    transition: 0.3s ease;
}

.advantages-grid__item::after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: -3px;
    border-bottom: 3px solid var(--blue-color);
    transition: width 0.3s ease;
}

.advantages-grid__item:hover {
    color: var(--blue-color);
    transform: scale(1.05);
    cursor: default;
}

.advantages-grid__item:hover::after {
    width: 100%;
}

/* schemework */

.schemework {
    padding-top: var(--m108);
}

.schemework__wrapper {
    background-image: url(../images/back-pic.png);
    height: 504px;
    position: relative;
    overflow: hidden;
}

.schemework__figure {
    width: 240px;
    height: 240px;
    background-color: var(--blue-color);
    border-radius: 50%;
    position: absolute;
    left: 52px;
    top: 29px;
}

.ellypse {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: animate_pulse 1.5s infinite;

}

@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(4, 73, 113, 0.4);
	}
	70% {
		box-shadow: 0 0 0 35px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
    
}

.ellypse__text {
    margin: 0;
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-300);
    color: var(--white-color);
}


.schemework__text-block {
    background-color: var(--blue-color);
    position: absolute;
    width: 0;
    right: 0;
    top: 29px;
    transition: width 0.6s ease;
}

.schemework__list {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-300);
    color: var(--white-color);
    list-style-type: decimal;
    height: 185px;
    margin: 0;
    padding-top: var(--m24);
    padding-bottom: var(--m24);
    opacity: 0;
}

.schemework__wrapper:hover .schemework__text-block{
    width: 650px;
    transition: width 0.6s ease;
}

.schemework__wrapper:hover .schemework__list{
    transition: opacity 3s ease;
    opacity: 1;
}

.schemework__wrapper:hover .ellypse {
    animation: none;
    background-color: (0,0,0,0.1);
}

/* calculator */

.calculator {
    padding-top: var(--m108);
}
.calculator__wrapper {
    background-color: var(--orange-color);
}

.calculator__title {
    font-family: var(--font-heading);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-600);
}

.calculator__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.calculator__slider-pos {
    position: relative;
    background-color: var(--orange-color);
    border-radius: 8px;
    width: 610px;
    height: 24px;
}

output {
    position: absolute;
    top: -50px;
    padding: 8px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 50%;
}


.calculator__range {
    position: relative;
    width: 400px;
    height: 10px;
    left: 3px;
    background-color: var(--blue-color);
    -webkit-appearance: none;
    outline: none;
    border-radius: 8px;
}

.calculator__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--blue-color);
}

/* slider. Слайдер Александра*/
.materials__title {
    padding-top: 108px;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-600);
    font-family: var(--font-heading);
}

input[placeholder] {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
}

.materials {
	margin-bottom: 30px;
}

.materials__slider {
	position: relative;
}

.slider {
	max-width: 1140px;
	position: relative;
	margin: 0 auto;
    margin-top: 48px;
	border-radius: 10px;
	overflow: hidden;
}
@media (min-width: 576px) and (max-width: 1199px) {
	.slider {
		max-width: 80%;
	}}
@media (max-width: 576px) {
	.slider {
		max-width: 90%;
	}}

	.navigation-manual {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.manual-btn {
		height: 20px;
		width: 20px;
		margin: 6px;
		cursor: pointer;
		background-color: var(--blue-color);
		opacity: .9;
		border-radius: 10px;
		transition: all .4s ease;
	}

	.manual-btn:hover {
		opacity: 1;
		transform: scale(1.3);
	}

	input[name="slider__radio"] {
		position: absolute;
		visibility: hidden;
	}

	.slider-line {
		width: 500%;
		height: 100%;
		transition: all ease 1s;
		justify-content: normal;
	}


.slide {
	width: 20%;
	transition: all 1s ease;
}

.slide img{
width: 100%;
transition: all 1s ease;
}

.input--active {
	background-color: #FF7313;
}


#radio_1:checked ~ .first {
	margin-left: 0;
}
#radio_2:checked ~ .first {
	margin-left: -20%; 
}
#radio_3:checked ~ .first {
	margin-left: -40%; 
}
#radio_4:checked ~ .first {
	margin-left: -60%; 
}
#radio_5:checked ~ .first {
	margin-left: -80%; 
}

.slider-button {
	padding: 15px 76px 16px 76px;
	background: #044971;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%; 
	color: #fff;
	border: none;
	cursor: pointer;
}

.slider-prev {
	position: absolute;
	top: 45%;
	left: 15px;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 50%;
	background-color: #044971;
	opacity: .9;
	transition: all .4s ease;
}

.slider-prev img{
	position: relative;
	top: 3px;
	left: -2px;
	transform: rotate(180deg);
}

.slider-prev:hover {
	opacity: 1;
	transform: scale(1.1);
}

.slider-next {
	position: absolute;
	top: 45%;
	right: 10px;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 50%;
	opacity: .9;
	transition: all .4s ease;
}

.slider-next img{
	position: relative;
	top: 3px;
	left: 2px;
}

.slider-next:hover {
	opacity: 1;
	transform: scale(1.1);
}


/* footer */

.footer {
    margin-top: var(--m108);
}

.footer__wrapper {
    background-color: rgba(42, 47, 55, 0.75);
}

.footer__top-part {
    padding-top: 46px;
}

.footer__bot-part {
    padding-top: var(--m12);
    padding-bottom: 46px;
}

.main-menu__list--footer-text a {
    color: var(--white-color);
}

.footer-bot-part__text {
    margin: 0;
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: 130%;
    color: var(--white-color);
}

.footer-bot-part__link {
    font-family: var(--font-basic);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-16);
    line-height: 130%;
    color: var(--orange-color);
    text-decoration: none;
}

.footer-bot-part__link:hover {
    color: var(--blue-color);
}

.footer-bot-part__number {
    margin: 0;
    margin-left: var(--m36);
    font-family: var(--font-basic);
    font-size: var(--font-size-18);
    line-height: 130%;
    color: var(--white-color);
}

.footer__icons svg:hover {
    transform: scale(1.5);
}

.footer__icons {
    gap: 168px;
}


